#question0{
  display: none;
}
#question{
  outline: none;
}
#end{
  outline: none;
}
#Study{
  display: none;
}
#quiz{
  display: none;
}
#topic{
  text-align: center;
}
#question{
  text-align: center;
}
#short-summary{
  text-align: center;
}
